/* Стилизация кнопки */


.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    color: var(--white);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 55px;
}


.button_prymary {
    background-color: var(--blue);
}

.button_prymary:hover {
    background-color: #2342C0;
}

.button_prymary:active {
    background-color: #081b69;
    color: var(--grey-3);
}

.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.button_secondary {
    padding: 15px 56px;
    background-color: var(--purple);
}

.button_secondary:hover {
    background-color: #5028C6;
}

.button_secondary:active {
    background-color: #372277;
    color: var(--grey-3);
}

.button_alternate {
    padding: 15px 61px;
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.button_alternate:hover {
    border: 1px solid var(--grey-4);
    color: var(--grey-4);
}

.button_alternate:active {
    border: 1px solid var(--grey-4);
    color: var(--grey-3);
}